@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Karla:wght@300;400;500;600;700&display=swap");

@layer base {
  body {
    @apply bg-stars;
    @apply bg-fixed;
    @apply bg-repeat-x;
    @apply bg-top;
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-screen;
    @apply z-[-1];
    @apply bg-[#22274f];
    @apply font-['Karla'];
    @apply text-gray-200;
    @apply text-lg;
    @apply leading-loose;
  }

  h1 {
    @apply font-['Poppins'];
    @apply text-[#6bfbce];
    @apply font-medium;
  }

  h2,
  h3 {
    @apply font-['Poppins'];
    @apply text-[#6bfbce];
  }

  a,
  a:active,
  a:visited {
    @apply text-[#6bfbce];
    @apply transition-all;
    @apply ease-in;
    @apply duration-300;
  }

  a:hover {
    @apply text-[#7286ff];
  }

  button {
    @apply bg-[#7C87f2];
    @apply uppercase;
    @apply text-white;
    @apply tracking-widest;
    @apply transition-all;
    @apply ease-in;
    @apply duration-300;
  }

  button:hover {
    @apply bg-indigo-600;
  }
}

button,
a,
span,
select,
li,
label,
textarea,
input {
  font-family: poppins, sans-serif;
}